*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{            
    background-color: #0cbaba;
}   
.compname{
    padding:60px;
    color: #041d6c;
    font-size: 40px;    
    font-family: roboto;
    text-align: center;
}
.container{
    background-color: brown;
    width: 500px;
    margin: auto;    
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 4px 8px 0px rgba(0,0,0,.4),5px 10px 16px 0px rgba(0,0,0,.4);  
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
form label{
    display: block;
    text-transform: capitalize;
    padding: 10px  0px;
    color: white;
    font-weight: bold;
    font-family: roboto;
}
input{
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;        
    font-family: roboto;    
    border-radius: 5px;    
    margin-bottom: 50px;  
    border: none;  
}
input:focus{
    background-color: aqua;
    outline: 1px solid #663399;
    
}
.btn{
    display: block;
    color: white;
    font-weight: bold;
    background-color: #0d6efd;
    padding: 10px 20px;     
    font-size: 18px;
    font-family: roboto;
    border-radius: 5px;
    margin: auto;
    border: none;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background-color: #041d6c;
    transition: .2s ease-in-out;    
}
@media screen and (max-width:575px) {
    .compname{
        font-size: 30px;        
    }
    h3{
        font-size: 25px;
    }
    .container{
        width: 80%;
    }
}